.sliderholder{
    outline-color: brown;
}

.slider-preview{
    outline-color: aquamarine;
    outline-style: double;

    width:400px;
    height: 400px;
}

.slider-nav{
    outline-color: blue;
    outline-style: solid;
}
.smallPics{
    outline-color:salmon;
    outline-style: dotted; 
    max-width:100%;
    max-height:100%;


}