.sliderholder{
    outline-color: brown;
}

.slider-preview{
    outline-color: aquamarine;
    outline-style: double;
    
    margin-left: auto;
    margin-right:auto;
     
    width:400px;
    height: 400px;
}

.slider-nav{
    outline-color: blue;
    outline-style: solid;
    height: fit-content;
    width: 70%;
    margin-left: auto;
    margin-right:auto;
     
}
.smallPics{
    outline-color:salmon;
    outline-style: dotted; 
    max-width:100%;
    max-height:100%;


}