
body{
    background-color: black;

}
.sliderholder{
    outline-color: brown;
}

.slider-preview{
    outline-color: aquamarine;
    outline-style: outset;

    margin-left: auto;
    margin-right:auto;
    margin-bottom: 25px;
    margin-top: 25px;

    width:400px;
    height: 400px;
}

.slider-nav{
    outline-color: none;
    outline-style: outset;
    height: fit-content;
    width: 70%;
    margin-left: auto;
    margin-right:auto;
    height: 200px;
    width: 698px;

}
.smallPics{
    outline-color:lightblue;
    outline-style: inset;
    max-width:100%;
    max-height:100%;


}
div.smallPics{
  margin: 10px;
}
