
body{
    background-color: black;

}
.sliderholder{
    outline-color: brown;
}

.slider-preview{


    margin-left: auto;
    margin-right:auto;
    margin-bottom: 25px;
    margin-top: 25px;

    width:400px;
    height: 400px;
}

.slider-nav{
    height: fit-content;
    width: 70%;
    margin-left: auto;
    margin-right:auto;
    height: 200px;
    width: 698px;

}
.smallPics{
    /*outline-color:lightblue;*/
    /*outline-style: inset;*/
    width: 12em;
    height: 12em;
    /*max-width:100%;
    max-height:100%;*/


}

div.smallPics{
  margin:0.7em;
}
